CD/source codes/node_red/red_node_application.json
[{"id":"5d267ab2.6d82e4","type":"function","z":"bba3f32f.67fd5","name":"kurtogram values","func":"// This function parses information from the data about the maximum value \n// of the kurtogram. From the location (where this maximum was found) \n// compute the frequency and frequency resolution.\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\n//frequency resolution\nmsg1.payload = Math.pow(2, -msg.payload[0]-1)*11560;\n\n//frequency\nvar index = msg.payload[1]/(16/Math.pow(2, msg.payload[0]));\nmsg2.payload = (index+0.5)*msg1.payload;\n  \n// maximum of kurtogramu\nvar bits = (msg.payload[5] << 24) | (msg.payload[4] << 16) | (msg.payload[3] << 8) | (msg.payload[2]);\nvar sign = ((bits >>> 31) === 0) ? 1.0 : -1.0;\nvar e = ((bits >>> 23) & 0xff);\nvar m = (e === 0) ? (bits & 0x7fffff) << 1 : (bits & 0x7fffff) | 0x800000;\nvar f = sign * m * Math.pow(2, e - 150);\n  \nmsg3.payload = f.toFixed(2);\n\n \n return [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":674.6666870117188,"y":101.33334350585938,"wires":[["fbefc651.a492a8","ab8b1ef9.ac67c"],["23e38c77.1710b4","d15ae940.da2b58"],["a9fdf9bc.d67ff8","909ccd7d.f257c"]]},{"id":"fbefc651.a492a8","type":"ui_chart","z":"bba3f32f.67fd5","name":"","group":"7ff9f083.9890f","order":2,"width":0,"height":0,"label":"Frequency resolution","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":957.888916015625,"y":20,"wires":[[],[]]},{"id":"624d7a40.ee9c94","type":"ttn uplink","z":"bba3f32f.67fd5","name":"","app":"6c4162ae.3c402c","dev_id":"device_lora","field":"","x":385.55555725097656,"y":451.2222385406494,"wires":[["5d267ab2.6d82e4","db0c527f.826a5","85cb056a.47a0c8","7f85e92d.753108","f6011f95.89db8","aa46273c.839f58","359cb20f.9f935e","1d1a8469.74b58c"]]},{"id":"db0c527f.826a5","type":"function","z":"bba3f32f.67fd5","name":"connection parameters","func":"// This function provides information about the modulation, frequency, \n// and number of gateways used in the path.\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nmsg1.payload = msg.metadata.frequency;\nmsg2.payload = msg.metadata.modulation;\nmsg3.payload = msg.metadata.gateways.length;\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":686.7778015136719,"y":621.9999923706055,"wires":[["3b5be645.5b7c9a"],["afe234d1.e63888"],["88b791fc.e50fd"]]},{"id":"3b5be645.5b7c9a","type":"ui_text","z":"bba3f32f.67fd5","group":"1c70966d.9f1a7a","order":1,"width":"3","height":"1","name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"col-center","x":926.4444541931152,"y":583.2221832275391,"wires":[]},{"id":"afe234d1.e63888","type":"ui_text","z":"bba3f32f.67fd5","group":"1c70966d.9f1a7a","order":2,"width":"3","height":"1","name":"","label":"Modulation","format":"{{msg.payload}}","layout":"col-center","x":926.3333740234375,"y":628.3333444595337,"wires":[]},{"id":"88b791fc.e50fd","type":"ui_chart","z":"bba3f32f.67fd5","name":"","group":"1c70966d.9f1a7a","order":5,"width":"6","height":"2","label":"The number of gateways used in the path","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"4","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1016.4444808959961,"y":674.8889026641846,"wires":[[],[]]},{"id":"fcd5e6c7.e97fe8","type":"ui_gauge","z":"bba3f32f.67fd5","name":"","group":"1c70966d.9f1a7a","order":4,"width":"3","height":"3","gtype":"gage","title":"Mean of RSSI","label":"dBm","format":"{{value}}","min":"-140","max":"-80","colors":["#097479","#097479","#097479"],"seg1":"","seg2":"","x":933.8889446258545,"y":807.0000267028809,"wires":[]},{"id":"85cb056a.47a0c8","type":"function","z":"bba3f32f.67fd5","name":"mean of rssi","func":"// Compute mean of RSSI during runtime\n\nmsg.payload = 0;\n\nvar count = global.get('count') || 0;\nvar value = global.get('value') || 0;\n\nvar i;\nfor (i = 0; i < msg.metadata.gateways.length; i++) { \n    value += msg.metadata.gateways[i].rssi;\n}\n\ncount += msg.metadata.gateways.length;\nmsg.payload = (value/count).toFixed(0);\n\nglobal.set('count',count);\nglobal.set('value',value);\n\nreturn msg;","outputs":1,"noerr":0,"x":657.6667022705078,"y":803.3332719802856,"wires":[["fcd5e6c7.e97fe8"]]},{"id":"1b4fbb10.c40405","type":"ui_gauge","z":"bba3f32f.67fd5","name":"","group":"1c70966d.9f1a7a","order":3,"width":"3","height":"3","gtype":"gage","title":"Mean of SNR","label":"dB","format":"{{value}}","min":"-20","max":"10","colors":["#097479","#097479","#097479"],"seg1":"","seg2":"","x":932.77783203125,"y":847.6666889190674,"wires":[]},{"id":"7f85e92d.753108","type":"function","z":"bba3f32f.67fd5","name":"mean of snr","func":"// Compute mean of SNR during runtime\n\nmsg.payload = 0;\n\nvar count_snr = global.get('count_snr') || 0;\nvar value_snr = global.get('value_snr') || 0;\n\nvar i;\nfor (i = 0; i < msg.metadata.gateways.length; i++) { \n    value_snr += msg.metadata.gateways[i].snr;\n}\n\ncount_snr += msg.metadata.gateways.length;\nmsg.payload = (value_snr/count_snr).toFixed(2);\n\nglobal.set('count_snr',count_snr);\nglobal.set('value_snr',value_snr);\n\nreturn msg;","outputs":1,"noerr":0,"x":655.6666488647461,"y":845.2222518920898,"wires":[["1b4fbb10.c40405"]]},{"id":"f6011f95.89db8","type":"function","z":"bba3f32f.67fd5","name":"rssi - chart","func":"// Information about RSSI, from metadata, for each of the gateways.\n\nvar msg1 = {};\nvar msg2 = {};\n\n// only one gateway\nif(msg.metadata.gateways.length !=2)\n{\n    msg1.payload = msg.metadata.gateways[0].rssi;\n    msg1.topic = 'second gateway in path';\n    \n    msg2.payload = msg.metadata.gateways[0].rssi;\n    msg2.topic = 'first gateway in path';\n}\n// more gateways\nelse\n{\n    if(msg.metadata.gateways[0].time < msg.metadata.gateways[1].time)\n    {\n        msg1.payload = msg.metadata.gateways[1].rssi;\n        msg1.topic = 'second gateway in path';\n    \n        msg2.payload = msg.metadata.gateways[0].rssi;\n        msg2.topic = 'first gateway in path';\n    }\n    else\n    {\n        msg1.payload = msg.metadata.gateways[0].rssi;\n        msg1.topic = 'second gateway in path';\n    \n        msg2.payload = msg.metadata.gateways[1].rssi;\n        msg2.topic = 'first gateway in path';\n    }\n    \n}\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":659.333366394043,"y":718.3333148956299,"wires":[["e48f0690.94e608"],["e48f0690.94e608"]]},{"id":"e48f0690.94e608","type":"ui_chart","z":"bba3f32f.67fd5","name":"","group":"1c70966d.9f1a7a","order":6,"width":0,"height":0,"label":"Received Signal Strength Indicator (RSSI)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-140","ymax":"-80","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1016.3333339691162,"y":722.4444198608398,"wires":[[],[]]},{"id":"aa46273c.839f58","type":"function","z":"bba3f32f.67fd5","name":"snr - chart","func":"// Information about SNR, from metadata, for each of the gateways.\n\nvar msg1 = {};\nvar msg2 = {};\n\nif(msg.metadata.gateways.length !=2)\n{\n    msg1.payload = msg.metadata.gateways[0].snr;\n    msg1.topic = 'second gateway in path';\n    \n    msg2.payload = msg.metadata.gateways[0].snr;\n    msg2.topic = 'first gateway in path';\n}\nelse\n{\n    if(msg.metadata.gateways[0].time < msg.metadata.gateways[1].time)\n    {\n        msg1.payload = msg.metadata.gateways[1].snr;\n        msg1.topic = 'second gateway in path';\n    \n        msg2.payload = msg.metadata.gateways[0].snr;\n        msg2.topic = 'first gateway in path';\n    }\n    else\n    {\n        msg1.payload = msg.metadata.gateways[0].snr;\n        msg1.topic = 'second gateway in path';\n    \n        msg2.payload = msg.metadata.gateways[1].snr;\n        msg2.topic = 'first gateway in path';\n    }\n    \n}\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":649.1110763549805,"y":761.999963760376,"wires":[["94773a69.bbbcc8"],["94773a69.bbbcc8"]]},{"id":"94773a69.bbbcc8","type":"ui_chart","z":"bba3f32f.67fd5","name":"","group":"1c70966d.9f1a7a","order":7,"width":0,"height":0,"label":"Signal-to-noise ratio (SNR)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-20","ymax":"10","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":975.0000553131104,"y":766.9999771118164,"wires":[[],[]]},{"id":"23e38c77.1710b4","type":"ui_chart","z":"bba3f32f.67fd5","name":"","group":"7ff9f083.9890f","order":3,"width":0,"height":0,"label":"Frequency","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":927.4444580078125,"y":54.66667175292969,"wires":[[],[]]},{"id":"a9fdf9bc.d67ff8","type":"ui_chart","z":"bba3f32f.67fd5","name":"","group":"7ff9f083.9890f","order":1,"width":0,"height":0,"label":"Maximum value of Kurtogram","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":976.4443359375,"y":89.00000762939453,"wires":[[],[]]},{"id":"21e3068f.d5c2da","type":"ui_chart","z":"bba3f32f.67fd5","name":"","group":"95c671d.097c79","order":0,"width":0,"height":0,"label":"RMS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":907.4444694519043,"y":370.88890647888184,"wires":[[],[]]},{"id":"dca4e9c7.77b8a8","type":"ui_chart","z":"bba3f32f.67fd5","name":"","group":"95c671d.097c79","order":0,"width":0,"height":0,"label":"Crest factor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":929.0000076293945,"y":448.5555295944214,"wires":[[],[]]},{"id":"d991ff4e.fc538","type":"ui_chart","z":"bba3f32f.67fd5","name":"","group":"95c671d.097c79","order":0,"width":0,"height":0,"label":"Kurtosis ratio","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":929.6666984558105,"y":531.1110754013062,"wires":[[],[]]},{"id":"3a54be48.666de2","type":"function","z":"bba3f32f.67fd5","name":"max of kurtosis","func":"//Determination of maximal kurtosis ratio\n\nvar msg1 = {};\n\nvar maximumKR = global.get('maximumKR') || -100;\n\nif (msg.payload > maximumKR)\n{\n    global.set('maximumKR',msg.payload);\n    msg1.payload = msg.payload.toFixed(2);\n}\nelse\n{\n    msg1.payload = maximumKR.toFixed(2);\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":939.1111297607422,"y":489.66664600372314,"wires":[["99a328d6.ad2b38"]]},{"id":"99a328d6.ad2b38","type":"ui_gauge","z":"bba3f32f.67fd5","name":"","group":"88180ad8.58d4d8","order":4,"width":"2","height":"2","gtype":"gage","title":"Max of kurtosis ratio","label":"","format":"{{value}}","min":"0","max":"15","colors":["#097479","#097479","#097479"],"seg1":"","seg2":"","x":1144.4443702697754,"y":489.55553150177,"wires":[]},{"id":"359cb20f.9f935e","type":"function","z":"bba3f32f.67fd5","name":"statistics","func":"// Saving information from the data about RMS, crest factor and kurtosis ratio\n// and their conversion to the decimal number.\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\n// RMS\nvar bits = (msg.payload[9] << 24) | (msg.payload[8] << 16) | (msg.payload[7] << 8) | (msg.payload[6]);\nvar sign = ((bits >>> 31) === 0) ? 1.0 : -1.0;\nvar e = ((bits >>> 23) & 0xff);\nvar m = (e === 0) ? (bits & 0x7fffff) << 1 : (bits & 0x7fffff) | 0x800000;\nvar f = sign * m * Math.pow(2, e - 150);\nmsg1.payload = f;\n\n// crest factor\nbits = (msg.payload[13] << 24) | (msg.payload[12] << 16) | (msg.payload[11] << 8) | (msg.payload[10]);\nsign = ((bits >>> 31) === 0) ? 1.0 : -1.0;\ne = ((bits >>> 23) & 0xff);\nm = (e === 0) ? (bits & 0x7fffff) << 1 : (bits & 0x7fffff) | 0x800000;\nf = sign * m * Math.pow(2, e - 150);\nmsg2.payload = f;\n\n// kurtosis ratio\nbits = (msg.payload[17] << 24) | (msg.payload[16] << 16) | (msg.payload[15] << 8) | (msg.payload[14]);\nsign = ((bits >>> 31) === 0) ? 1.0 : -1.0;\ne = ((bits >>> 23) & 0xff);\nm = (e === 0) ? (bits & 0x7fffff) << 1 : (bits & 0x7fffff) | 0x800000;\nf = sign * m * Math.pow(2, e - 150);\nmsg3.payload = f;\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":667.8888778686523,"y":406.44443130493164,"wires":[["21e3068f.d5c2da","9df827ac.b8e7d8"],["dca4e9c7.77b8a8","3457792f.a47d96"],["3a54be48.666de2","d991ff4e.fc538"]]},{"id":"9df827ac.b8e7d8","type":"function","z":"bba3f32f.67fd5","name":"max of rms","func":"//Determination of maximal RMS\n\nvar msg1 = {};\n\nvar maximumRMS = global.get('maximumRMS') || 0;\n\nif (msg.payload > maximumRMS)\n{\n    global.set('maximumRMS',msg.payload);\n    msg1.payload = msg.payload.toFixed(2);\n}\nelse\n{\n    msg1.payload = maximumRMS.toFixed(2);\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":926.7778282165527,"y":329.7778015136719,"wires":[["6f22f52f.ef7b2c"]]},{"id":"6f22f52f.ef7b2c","type":"ui_gauge","z":"bba3f32f.67fd5","name":"","group":"88180ad8.58d4d8","order":4,"width":"2","height":"2","gtype":"gage","title":"Max of RMS","label":"","format":"{{value}}","min":"0","max":"250","colors":["#097479","#097479","#097479"],"seg1":"","seg2":"","x":1090.9999923706055,"y":329.6667079925537,"wires":[]},{"id":"3457792f.a47d96","type":"function","z":"bba3f32f.67fd5","name":"max of crest factor","func":"//Determination of maximal crest factor\n\nvar msg1 = {};\n\nvar maximumCrest = global.get('maximumCrest') || 0;\n\nif (msg.payload > maximumCrest)\n{\n    global.set('maximumCrest',msg.payload);\n    msg1.payload = msg.payload.toFixed(2);\n}\nelse\n{\n    msg1.payload = maximumCrest.toFixed(2);\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":946.8889427185059,"y":408.11111068725586,"wires":[["27cd8d88.1c5eb2"]]},{"id":"27cd8d88.1c5eb2","type":"ui_gauge","z":"bba3f32f.67fd5","name":"","group":"88180ad8.58d4d8","order":4,"width":"2","height":"2","gtype":"gage","title":"Max of Crest factor","label":"dB","format":"{{value}}","min":"0","max":"10","colors":["#097479","#097479","#097479"],"seg1":"","seg2":"","x":1151.5554695129395,"y":408.00001335144043,"wires":[]},{"id":"ab8b1ef9.ac67c","type":"ui_text","z":"bba3f32f.67fd5","group":"ca01b9eb.b00ae8","order":2,"width":"3","height":"1","name":"","label":"with frequency resolution: ","format":"{{msg.payload}} Hz","layout":"col-center","x":965.22216796875,"y":124,"wires":[]},{"id":"d15ae940.da2b58","type":"ui_text","z":"bba3f32f.67fd5","group":"ca01b9eb.b00ae8","order":4,"width":"3","height":"1","name":"","label":"with frequency: ","format":"{{msg.payload}} Hz","layout":"col-center","x":936.333251953125,"y":159,"wires":[]},{"id":"482c4aa7.602be4","type":"function","z":"bba3f32f.67fd5","name":"email","func":"// Function email creates the structure of email messages.\nif(msg.payload == 1)\n{\n    msg.payload = \"Podezření na poruchu monitorovaného přístroje.\\n\\r \" ;\n    msg.topic = \"Condition monitoring system\";\n    return msg\n}","outputs":1,"noerr":0,"x":907.6666259765625,"y":237.4444580078125,"wires":[["d53a569f.19ea58"]]},{"id":"d53a569f.19ea58","type":"e-mail","z":"bba3f32f.67fd5","server":"smtp.gmail.com","port":"465","secure":true,"name":"buricmar@gmail.com","dname":"","x":1091,"y":237.00003051757812,"wires":[]},{"id":"909ccd7d.f257c","type":"ui_text","z":"bba3f32f.67fd5","group":"ca01b9eb.b00ae8","order":1,"width":"3","height":"1","name":"","label":"Maximum value:","format":"{{msg.payload}} ","layout":"col-center","x":935,"y":195,"wires":[]},{"id":"b6b9ffe3.ba028","type":"function","z":"bba3f32f.67fd5","name":"status","func":"//Specify the string written to the user interface according to the fault identification.\n\nif(msg.payload == 1)\n{\n    msg.payload = \"NOT OK\" ;\n}\nelse\n{\n    msg.payload = \"OK\" ;\n}\nreturn msg;","outputs":1,"noerr":0,"x":906,"y":281,"wires":[["4684a4e.993735c"]]},{"id":"4684a4e.993735c","type":"ui_text","z":"bba3f32f.67fd5","group":"ca01b9eb.b00ae8","order":3,"width":"3","height":"1","name":"","label":" Bearing failure","format":"{{msg.payload}}","layout":"col-center","x":1072,"y":281,"wires":[]},{"id":"1d1a8469.74b58c","type":"function","z":"bba3f32f.67fd5","name":"bearing failure","func":"// This function keeps the last three crest factor values and the last three \n// kurtogram level values where the maximum was found.\n// From these data, it determines possibility of failure (set an indicator).\n\nvar msg1 = {};\n\n// read global variable\nvar firstvalueCF = global.get('firstvalueCF') || -1;\nvar secondvalueCF = global.get('secondvalueCF') || -1;\n\nvar firstvalue = global.get('firstvalue') || -1;\nvar secondvalue = global.get('secondvalue') || -1;\n\nvar index = global.get('index') || 0;\n\n\n// read actual value of crest factor\nvar bits = (msg.payload[13] << 24) | (msg.payload[12] << 16) | (msg.payload[11] << 8) | (msg.payload[10]);\nvar sign = ((bits >>> 31) === 0) ? 1.0 : -1.0;\nvar e = ((bits >>> 23) & 0xff);\nvar m = (e === 0) ? (bits & 0x7fffff) << 1 : (bits & 0x7fffff) | 0x800000;\nvar f = sign * m * Math.pow(2, e - 150);\n\n// set fault indicator\nif (msg.payload[0] > 1 &&  firstvalue > 1 &&  secondvalue > 1 && f > 3.5 && firstvalueCF > 3.5 && secondvalueCF > 3.5)\n{\n    msg1.payload = 1;\n    \n}\nelse\n{\n    msg1.payload = 0;\n}\n\n// save global variable\nif(index === 0)\n{\n    global.set('firstvalue', msg.payload[0]);\n    global.set('firstvalueCF', f);\n    global.set('index',1);\n}\nelse\n{\n    global.set('secondvalue', msg.payload[0]);\n    global.set('secondvalueCF', f);\n    global.set('index',0);\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":671,"y":260,"wires":[["b6b9ffe3.ba028","482c4aa7.602be4"]]},{"id":"7ff9f083.9890f","type":"ui_group","z":"","name":"Diagnostic values - kurtogram","tab":"fc5f157b.a38bc8","order":5,"disp":true,"width":"6","collapse":false},{"id":"6c4162ae.3c402c","type":"ttn app","z":"","appId":"my_test_network","accessKey":"ttn-account-v2.pHJZkAkFMSMJ2EOdSWMyEdOeSWLNhb-fuF-uT7NRauE","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"1c70966d.9f1a7a","type":"ui_group","z":"","name":"Connection parameters","tab":"fc5f157b.a38bc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"95c671d.097c79","type":"ui_group","z":"","name":"Diagnostic values","tab":"fc5f157b.a38bc8","order":4,"disp":true,"width":"6","collapse":false},{"id":"88180ad8.58d4d8","type":"ui_group","z":"","name":"Statistics","tab":"fc5f157b.a38bc8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ca01b9eb.b00ae8","type":"ui_group","z":"","name":"Kurtogram - actual values","tab":"fc5f157b.a38bc8","order":3,"disp":true,"width":"6","collapse":false},{"id":"fc5f157b.a38bc8","type":"ui_tab","z":"","name":"Condition monitoring system","icon":"dashboard","order":1}]